html {
  scroll-behavior: smooth;
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  margin-bottom: 1.5rem;
  border: 4px solid #2563eb;
  object-fit: cover;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.cert-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 0.75rem;
}
